<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Welcome <%= current_user.pharmacy_name %></h4>
                    <p>Here you can adjust your profile to fit your needs</p>
                </div>
                <div class="tab-inn">
                    <%= form_for current_user do |f| %>
                      <div class="row">
                        <div class="input-field col s6">
                          <%= f.text_field :pharmacy_name, value: current_user.pharmacy_name, class: "validate" %>
                          <label for="pharmacy_name">Pharmacy Name</label>
                        </div>
                        <div class="input-field col s6">
                          <%= f.text_field :alias, value: current_user.alias, class: "validate" %>
                          <label for="alias">Codename</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <%= f.text_field :zip, value: current_user.zip, class: "validate" %>
                          <label for="zip">Zip Code</label>
                        </div>
                        <div class="input-field col s6">
                          <%= f.email_field :email, value: current_user.email, class: "validate" %>
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                              <%= f.submit "Update", class: "waves-effect waves-light btn-large" %>
                          </div>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
