<%= stylesheet_link_tag    '/materialize.css' %>
<%= stylesheet_link_tag    '/mob.css' %>
<%= stylesheet_link_tag    '/style_admin.css' %>
<body>
    <!--== MAIN CONTRAINER ==-->
    <%= render 'layouts/dash_header' %>

    <!--== BODY CONTNAINER ==-->
    <% if current_user.role == "A Job" %>
      <%= render 'reg_user' %>
    <% else %>
      <%= render 'pharm_user' %>
    <% end %>
    <!--======== SCRIPT FILES =========-->
    <%= javascript_include_tag '/materialize.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/custom_admin.js', 'data-turbolinks-track': 'reload' %>
</body>

<script type="text/javascript">
  $('#calendar').fullCalendar({});

  $( '#calendar' ).hide();

  $( '.calendar-help' ).hide();

  $( 'document' ).ready( function() {
    $( '.caret' ).html( "" )
  })

  $( '.schedule-props-wrapper form select' ).on( 'change', function( e ) {
    $( '.schedule-props-wrapper form' ).submit();
  })

  $( '.schedule-props-wrapper form' ).on( 'submit', function( e ) {
    e.preventDefault();

    var thisForm = e.target;

    var type = thisForm.method;
    var url = thisForm.action;
    var data = $( thisForm ).serialize()

    $.ajax({
      type: type,
      url: url,
      data: data
    }).done( function( response ) {
      var typeEP = $( response ).html()

      if ( typeEP === "diem" ) {
        $( '#week' ).hide();
        $( '#calendar' ).show();
      } else {
        $( '#calendar' ).hide();
        $( '#week' ).show();
      };
    });
  });

  $( '.week-button' ).on( 'click', function( e ) {
    var target = e.target;
    var dayElement = target.children[ 1 ].children[ 0 ];
    var day = $( dayElement ).html();

    var type = 'patch';
    var data = "fullsId=" + target.children[ 0 ].value + "&day=" + day;
    var url = '/fulls/' + data;

    $.ajax({
      type: type,
      url: url,
      data: data
    }).done( function( response ) {
      var color = $( response ).html();
      var thisURL = this.url.split( '=' );
      var thisClass = '.' + thisURL[ thisURL.length - 1 ].toLowerCase();

      if ( color === "green" ) {
        $( thisClass ).addClass( 'check-color-grn' );
      } else {
        $( thisClass ).removeClass( 'check-color-grn' );
      };
    });
  });
</script>
