<div id="logindiv">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { id: "msform", class: "login-form-home" }) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <input type="button" name="close" class="action-button cancel" value="Cancel">
    <%= f.submit "Log In", class: "action-button" %>
  <% end %>
</div>

<script type="text/javascript">
  $( window ).keydown( function( event ) {
    if( event.keyCode == 13 ) {
      event.preventDefault();
      return false;
    }
  });

  $( '.cancel' ).on( 'click', function( e ) {
    $( '#logindiv' ).hide();
  });
</script>
