<body class="homePageThree">
    <!-- start preloader -->
    <div id="preloader">
        <div class="preloader-inner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- end preloader -->

    <header class="header-section ">
        <nav class="navbar navbar-inverse hidden-sm hidden-xs">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="image"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active dropdown"><a href="#">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index-two.html">Home Two</a></li>
                                <li class="active"><a href="index-three.html">Home Three</a></li>
                                <li><a href="#">Single-Home</a>
                                    <ul class="sub-dropdown">
                                        <li><a href="single-one.html">Home-1</a></li>
                                        <li><a href="single-two.html">Home-2</a></li>
                                        <li><a href="single-three.html">Home-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="#">Domain <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="domain.html">Domain</a></li>
                                <li><a href="domain-management.html">Domain-Management</a></li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="#">Hosting <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="hosting.html">Hosting</a></li>
                                <li><a href="cloud-hosting.html">Cloud-hosting</a></li>
                                <li><a href="dedicated-hosting.html">Dedicated-hosting</a></li>
                                <li><a href="shared-hosting.html">Shared-Hosting</a></li>
                                <li><a href="hosting-management.html">Hosting-Management</a></li>
                            </ul>
                        </li>

                        <li class="megadrop"><a href="#">Mega menu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="megamenu">
                                <li>
                                    <div id="menu-carousel" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#menu-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#menu-carousel" data-slide-to="1"></li>
                                            <li data-target="#menu-carousel" data-slide-to="2"></li>
                                        </ol>

                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                              <img src="assets/images/menu/s1.jpg" alt="image">
                                            </div>

                                            <div class="item">
                                              <img src="assets/images/menu/s2.jpg" alt="image">
                                            </div>

                                            <div class="item">
                                              <img src="assets/images/menu/s3.jpg" alt="image">
                                            </div>
                                        </div>
                                    </div> <!-- menu-carousel -->
                                </li>

                                <li class="mega-submenu3">
                                    <ul class="dropdown">
                                        <li><a href="box-single-one.html">Box Layout One</a></li>
                                        <li><a href="box-single-two.html">Box Layout Two</a></li>
                                        <li><a href="box-single-three.html">Box Layout Three</a></li>
                                        <li><a href="about.html">About</a></li>
                                    </ul>
                                </li>

                                <li class="mega-submenu">
                                    <ul class="dropdown">
                                        <li><a href="account.html">Account</a></li>
                                        <li><a href="affiliate.html">Affiliate</a></li>
                                        <li><a href="data-center.html">Data Center</a></li>
                                        <li><a href="support.html">Support</a></li>
                                    </ul>
                                </li>

                                <li class="mega-submenu2">
                                    <ul class="dropdown">
                                        <li><a href="testimonial.html">Testimonial</a></li>
                                        <li><a href="404.html">404-Page</a></li>
                                        <li><a href="single-one.html">Single Home One</a></li>
                                        <li><a href="single-two.html">Single Home Two</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="#">News <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="news.html">News</a></li>
                                <li><a href="news-single.html">News-Single</a></li>
                                <li><a href="news-sidebar.html">News-Sidebar</a></li>
                            </ul>
                        </li>

                        <li><a href="contact.html">Contact</a></li>
                    </ul>

                    <div class="chat-box inline-block">
                        <button id="open-box" class="btn btn-primary"><i class="fa fa-comments" aria-hidden="true"></i> Live Chat</button>
                    </div>
                </div><!--/.nav-collapse -->
            </div> <!-- container -->
        </nav>

        <div class="navbar-header inline-block hidden-md hidden-lg">
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo-m.png" alt="image"></a>
        </div>
    </header> <!-- header-section -->


    <section class="slider-section">
        <h2 class="hidden">Heading</h2>

        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="assets/images/slider/slider-5.jpg" data-delay="8000"  data-saveperformance="off"  data-title="We are Hosting">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/slider/slider-5.jpg"  alt="kenburns1"  data-bgposition="top bottom" data-kenburns="on" data-duration="8000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="bottom center">


                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfb ltt"
                            data-x="100"
                            data-y="120"
                            data-speed="1800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.1"
                            data-end="7500"
                            data-endspeed="1800"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 3;">
                            <div class="content-box">
                                <span class="ex-small-text">Start with a .com</span>
                                <h1 class="large-text text-left">Get online with the world’s <br> most popular domain.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Ut enim ad minim veniam.</p>

                                <div class="price medium-text text-left">Starting at $7.99 <br> <span class="big-text"><span class="theme-color">$2.95</span>/month*</span></div>

                                <div class="link-button pull-right">
                                    <a href="#" class="btn btn-primary">Get Started <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div> <!-- content-box -->
                        </div>
                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="assets/images/slider/slider-6.jpg" data-delay="8000"  data-saveperformance="off"  data-title="We are Hosting">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/slider/slider-6.jpg"  alt="kenburns1"  data-bgposition="top bottom" data-kenburns="on" data-duration="8000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="bottom center">


                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfb ltt"
                            data-x="100"
                            data-y="120"
                            data-speed="1800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.1"
                            data-end="7500"
                            data-endspeed="1800"
                            data-endeasing="Power4.easeIn"
                            style="z-index: 3;">
                            <div class="content-box">
                                <span class="ex-small-text">Start with a .com</span>
                                <h1 class="large-text text-left">Get online with the world’s <br> most popular domain.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Ut enim ad minim veniam.</p>

                                <div class="price medium-text text-left">Starting at $7.99 <br> <span class="big-text"><span class="theme-color">$2.95</span>/month*</span></div>

                                <div class="link-button pull-right">
                                    <a href="#" class="btn btn-primary">Get Started <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div> <!-- content-box -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section> <!-- slider-section -->



    <section class="domain-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="domain-wrapper">
                        <h3>Register Your Domain Now!</h3>

                        <div class="domain-bar">
                            <form class="subscribeForm" method="POST">
                                <input class="domainSearchBar inline-block" value="ex: cloudhost" onblur="if(this.value=='')this.value='ex: cloudhost'" onfocus="if(this.value=='ex: cloudhost')this.value=''" id="domainSearchBar" name="email" type="email">

                                <div class="dropdown option">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">.com <span class="caret"></span></button>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a>.net</a></li>
                                        <li><a>.org</a></li>
                                        <li><a>.us</a></li>
                                        <li><a>.in</a></li>
                                    </ul>
                                </div>

                                <button type="submit" class="subscribeBtn inline-block">Find</button>
                            </form>
                        </div> <!-- search-bar -->

                        <ul class="package">
                            <li><span><img src="assets/images/domain/com.png" alt=""></span> $3.95</li>
                            <li><span><img src="assets/images/domain/uk.png" alt=""></span> $4.99</li>
                            <li><span><img src="assets/images/domain/org.png" alt=""></span> $7.95</li>
                            <li><span><img src="assets/images/domain/co.png" alt=""></span> $5.99</li>
                            <li><span><img src="assets/images/domain/couk.png" alt=""></span> $9.95</li>
                        </ul>
                    </div> <!-- domain-wrapper -->
                </div>
            </div>
        </div>
    </section> <!-- domain-section -->



    <section class="priceing-section section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h2>Our Wide Range of Plans</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con sequuntur <br> magni dolores eos qui ratione</p>
            </div> <!-- section-title -->

            <div class="second-priceing-table text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="priceing-wrapper">
                            <div class="header"><img src="assets/images/price-2/i1.png" alt="image"></div>

                            <div class="priceing-content">
                                <div class="priceing-head">
                                    <span class="amount"><sup>$</sup>21.99</span> <br>
                                    <span class="option">Basic</span>
                                </div> <!-- priceing-head -->

                                <ul class="feature">
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 100 GB Disk Space</li>
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 1 sub-domain</li>
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 5 E-mail Accounts</li>
                                    <li><span class="danger"><i class="fa fa-times" aria-hidden="true"></i></span> 24/7 Support</li>
                                    <li><span class="danger"><i class="fa fa-times" aria-hidden="true"></i></span> Control Panel</li>
                                </ul> <!-- feature -->

                                <button type="button" class="btn btn-primary" data-toggle="button">Sign up</button>
                            </div> <!-- priceing-content -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="priceing-wrapper premium-wrapper">
                            <div class="header"><img src="assets/images/price-2/i2.png" alt="image"></div>

                            <div class="priceing-content">
                                <div class="priceing-head">
                                    <span class="amount"><sup>$</sup>41.99</span> <br>
                                    <span class="option">Premium</span>                                     </div> <!-- priceing-head -->

                                <ul class="feature">
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 100 GB Disk Space</li>
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 1 sub-domain</li>
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 5 E-mail Accounts</li>
                                    <li><span class="danger"><i class="fa fa-times" aria-hidden="true"></i></span> 24/7 Support</li>
                                    <li><span class="danger"><i class="fa fa-times" aria-hidden="true"></i></span> Control Panel</li>
                                </ul> <!-- feature -->

                                <button type="button" class="btn btn-primary" data-toggle="button">Sign up</button>
                            </div> <!-- priceing-content -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="priceing-wrapper">
                            <div class="header"><img src="assets/images/price-2/i3.png" alt="image"></div>

                            <div class="priceing-content">
                                <div class="priceing-head">
                                    <span class="amount"><sup>$</sup>61.99</span> <br>
                                    <span class="option">Enterprise</span>
                                </div> <!-- priceing-head -->

                                <ul class="feature">
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 100 GB Disk Space</li>
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 1 sub-domain</li>
                                    <li><span class="success"><i class="fa fa-check" aria-hidden="true"></i></span> 5 E-mail Accounts</li>
                                    <li><span class="danger"><i class="fa fa-times" aria-hidden="true"></i></span> 24/7 Support</li>
                                    <li><span class="danger"><i class="fa fa-times" aria-hidden="true"></i></span> Control Panel</li>
                                </ul> <!-- feature -->

                                <button type="button" class="btn btn-primary" data-toggle="button">Sign up</button>
                            </div> <!-- priceing-content -->
                        </div>
                    </div>
                </div>

                <h4><a href="#">View More Plans <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></h4>
            </div> <!-- second-priceing-table -->
        </div>
    </section> <!-- priceing-section -->



    <section class="information-section section-padding">
        <div class="container text-center">
            <div class="section-title">
                <h2>What makes Cloud Host the best hosting <br> solution for you</h2>
            </div> <!-- section-title -->

            <div class="information-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="information-wrapper">
                        <span class="caption"><img src="assets/images/information/i1.png" alt=""></span>

                        <h3>100% Up time guranteed</h3>
                        <p>Do eiusmod tempor incididunt ut labore magna hobe na</p>

                        <a class="link" href="#">See how it works  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div> <!-- information-wrapper -->
                </div>

                <div class="item">
                    <div class="information-wrapper">
                        <span class="caption"><img src="assets/images/information/i2.png" alt=""></span>

                        <h3>Secure and Fast Loading</h3>
                        <p>Do eiusmod tempor incididunt ut labore magna hobe na</p>

                        <a class="link" href="#">See how it works  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div> <!-- information-wrapper -->
                </div>

                <div class="item">
                    <div class="information-wrapper">
                        <span class="caption"><img src="assets/images/information/i3.png" alt=""></span>

                        <h3>24/7 Dedicated Support</h3>
                        <p>Do eiusmod tempor incididunt ut labore magna hobe na</p>

                        <a class="link" href="#">See how it works  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div> <!-- information-wrapper -->
                </div>

                <div class="item">
                    <div class="information-wrapper">
                        <span class="caption"><img src="assets/images/information/i1.png" alt=""></span>

                        <h3>100% Up time guranteed</h3>
                        <p>Do eiusmod tempor incididunt ut labore magna hobe na</p>

                        <a class="link" href="#">See how it works  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div> <!-- information-wrapper -->
                </div>

                <div class="item">
                    <div class="information-wrapper">
                        <span class="caption"><img src="assets/images/information/i2.png" alt=""></span>

                        <h3>Secure and Fast Loading</h3>
                        <p>Do eiusmod tempor incididunt ut labore magna hobe na</p>

                        <a class="link" href="#">See how it works  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div> <!-- information-wrapper -->
                </div>

                <div class="item">
                    <div class="information-wrapper">
                        <span class="caption"><img src="assets/images/information/i3.png" alt=""></span>

                        <h3>24/7 Dedicated Support</h3>
                        <p>Do eiusmod tempor incididunt ut labore magna hobe na</p>

                        <a class="link" href="#">See how it works  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div> <!-- information-wrapper -->
                </div>

                <div class="item">
                    <div class="information-wrapper">
                        <span class="caption"><img src="assets/images/information/i2.png" alt=""></span>

                        <h3>Secure and Fast Loading</h3>
                        <p>Do eiusmod tempor incididunt ut labore magna hobe na</p>

                        <a class="link" href="#">See how it works  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div> <!-- information-wrapper -->
                </div>
            </div>
        </div>
    </section> <!-- information-section -->



    <section class="counting-section">
        <div class="container text-center">
            <h2 class="hidden">counting-title</h2>

            <div class="counting-pusher">
                <div class="counting-wrapper">
                    <span class="caption"><img src="assets/images/counting-icon/i1.png" alt=""></span>

                    <div class="count-description">
                        <span class="timer">9000</span>+
                    </div>
                    <p>Satisfied client</p>
                </div>  <!-- counting-wrapper -->

                <div class="counting-wrapper">
                    <span class="caption"><img src="assets/images/counting-icon/i2.png" alt=""></span>

                    <div class="count-description">
                        <span class="timer">1200</span>
                    </div>
                    <p>Sold Domains</p>
                </div>  <!-- counting-wrapper -->

                <div class="counting-wrapper">
                    <span class="caption"><img src="assets/images/counting-icon/i3.png" alt=""></span>

                    <div class="count-description">
                        <span class="timer">2190</span>
                    </div>
                    <p>Times Shared</p>
                </div>  <!-- counting-wrapper -->

                <div class="counting-wrapper">
                    <span class="caption"><img src="assets/images/counting-icon/i4.png" alt=""></span>

                    <div class="count-description">
                        <span class="timer">9837</span>
                    </div>
                    <p>Hosted Sites</p>
                </div>  <!-- counting-wrapper -->
            </div> <!-- /.counting-pusher -->
        </div>
    </section> <!-- counting-section -->



    <section class="service-section section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h2>Our Hosting Services</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con sequuntur <br> magni dolores eos qui ratione</p>
            </div> <!-- section-title -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="service-wrapper">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="btn-primary active" role="presentation"><a href="#share" aria-controls="share" role="tab" data-toggle="tab"><i class="fa fa-cubes" aria-hidden="true"></i> Shared</a></li>
                                    <li class="btn-primary" role="presentation"><a href="#dedicated" aria-controls="dedicated" role="tab" data-toggle="tab"><i class="fa fa-code-fork" aria-hidden="true"></i> Dedicated</a></li>
                                    <li class="btn-primary" role="presentation"><a href="#cloud" aria-controls="cloud" role="tab" data-toggle="tab"><i class="fa fa-cloud" aria-hidden="true"></i> Cloud</a></li>
                                    <li class="btn-primary" role="presentation"><a href="#wordpress" aria-controls="wordpress" role="tab" data-toggle="tab"><i class="fa fa-wordpress" aria-hidden="true"></i> Wordpress</a> <span class="feature">New</span></li>
                                    <li class="btn-primary" role="presentation"><a href="#vps" aria-controls="vps" role="tab" data-toggle="tab"><i class="fa fa-server" aria-hidden="true"></i> Vps</a></li>
                                </ul>
                            </div>

                            <div class="col-md-9">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active fade in" id="share">
                                        <div class="service-content text-left">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <span class="caption"><img src="assets/images/service-hosting.jpg" alt=""></span>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="content-wrapper">
                                                                <h3>Shared Hosting</h3>

                                                                <span class="small-text">Cost starts at $7.99</span>

                                                                <div class="detail-wrapper">
                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Dedicated IP</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> SSL Certificate</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Domain Privacy</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Site Backup Pro</li>
                                                                    </ul>

                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Renewal Price</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Available CPUs</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p>The web is the most powerful resource on the planet, and we're here to help you harness it. Cloud Sites includes our renowned 24/7 support so you can always get the help you need, right when you need it.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="dedicated">
                                        <div class="service-content text-left">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <span class="caption"><img src="assets/images/service-hosting.jpg" alt=""></span>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="content-wrapper">
                                                                <h3>Dedicated Hosting</h3>

                                                                <span class="small-text">Cost starts at $10.00</span>

                                                                <div class="detail-wrapper">
                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Dedicated IP</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> SSL Certificate</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Domain Privacy</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Site Backup Pro</li>
                                                                    </ul>

                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Renewal Price</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Available CPUs</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p>The web is the most powerful resource on the planet, and we're here to help you harness it. Cloud Sites includes our renowned 24/7 support so you can always get the help you need, right when you need it.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="cloud">
                                        <div class="service-content text-left">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <span class="caption"><img src="assets/images/service-hosting.jpg" alt=""></span>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="content-wrapper">
                                                                <h3>Cloud Hosting</h3>

                                                                <span class="small-text">Cost starts at $15.00</span>

                                                                <div class="detail-wrapper">
                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Dedicated IP</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> SSL Certificate</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Domain Privacy</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Site Backup Pro</li>
                                                                    </ul>

                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Renewal Price</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Available CPUs</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p>The web is the most powerful resource on the planet, and we're here to help you harness it. Cloud Sites includes our renowned 24/7 support so you can always get the help you need, right when you need it.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="wordpress">
                                        <div class="service-content text-left">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <span class="caption"><img src="assets/images/service-hosting.jpg" alt=""></span>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="content-wrapper">
                                                                <h3>Wordpress Hosting</h3>

                                                                <span class="small-text">Cost starts at $18.00</span>

                                                                <div class="detail-wrapper">
                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Dedicated IP</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> SSL Certificate</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Domain Privacy</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Site Backup Pro</li>
                                                                    </ul>

                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Renewal Price</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Available CPUs</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p>The web is the most powerful resource on the planet, and we're here to help you harness it. Cloud Sites includes our renowned 24/7 support so you can always get the help you need, right when you need it.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="vps">
                                        <div class="service-content text-left">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <span class="caption"><img src="assets/images/service-hosting.jpg" alt=""></span>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="content-wrapper">
                                                                <h3>Vps Hosting</h3>

                                                                <span class="small-text">Cost starts at $12.00</span>

                                                                <div class="detail-wrapper">
                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Dedicated IP</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> SSL Certificate</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Domain Privacy</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Site Backup Pro</li>
                                                                    </ul>

                                                                    <ul class="detail">
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Renewal Price</li>
                                                                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Available CPUs</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p>The web is the most powerful resource on the planet, and we're here to help you harness it. Cloud Sites includes our renowned 24/7 support so you can always get the help you need, right when you need it.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- service-wrapper -->
                </div>
            </div>
        </div>
    </section> <!-- service-section -->



    <section class="process-section section-padding">
        <div class="container">
            <div class="row">
                <div class="process-wrapper">
                    <div class="col-md-6">
                        <div class="process-caption text-left">
                            <img src="assets/images/process/p-1.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="process-content first-content">
                            <h3>Spread the words out. <br> We’re Giving away free domains</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>

                            <button type="button" class="btn btn-primary first-btn" data-toggle="button">Get Details</button>
                        </div> <!-- process-content -->
                    </div>
                </div> <!-- process-wrapper -->
            </div>

            <div class="row">
                <div class="process-wrapper">
                    <div class="col-xs-12 hidden-md hidden-lg">
                        <div class="caption-two text-center">
                            <img src="assets/images/process/p-2.png" alt="image">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="process-content second-content">
                            <h3>Simultaneous download <br> and upload speed</h3>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>

                            <button type="button" class="btn btn-primary" data-toggle="button">Contact us</button>
                        </div> <!-- process-content -->
                    </div>

                    <div class="col-md-5 hidden-sm hidden-xs">
                        <div class="caption-two text-right">
                            <img src="assets/images/process/p-2.png" alt="image">
                        </div>
                    </div>
                </div> <!-- process-wrapper -->
            </div>
        </div>
    </section> <!-- process-section -->



    <section class="subscribe-section">
        <div class="container">
            <div class="row">
                <div class="caption hidden-sm hidden-xs wow fadeInLeft" data-wow-duration="1.5s"><img src="assets/images/subscribe/couple.png" alt=""></div>

                <div class="col-md-6 col-md-offset-5">
                    <div class="subscribe-wrapper">
                        <span class="small-text">Don’t miss any updates and news from us</span>
                        <h3>Subscribe your Email address for weekly newsletter</h3>

                        <div class="search-bar">
                            <form class="subscribeForm" method="POST">
                                <input class="subscribeSearchBar inline-block" value="your email.." onblur="if(this.value=='')this.value='your email..'" onfocus="if(this.value=='your email..')this.value=''" id="subscribeSearchBar" name="email" type="email">

                                <button type="submit" class="subscribeBtn btn-primary inline-block ">Subscribe</button>
                            </form>
                        </div> <!-- search-bar -->
                    </div> <!-- subscribe-wrapper -->
                </div>
            </div>
        </div>
    </section> <!-- subscribe-section -->



    <footer class="footer-section">
        <div class="footer-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="footer-wrapper mr-30">
                            <span class="footer-logo"><img src="assets/images/footer-logo.png" alt="image"></span>

                            <p>It is my duty to distract the reader by just looiking at it </p>

                            <ul class="contact-wrapper">
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <span><a href="#">contact@cloudhost.com</a></span></li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> <span>+91 2225 123 957</span></li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> <span>New Metro Road, Baskervile Texas - 3520, USA</span></li>
                            </ul> <!-- social-icon -->
                        </div> <!-- footer-wrapper -->
                    </div>

                    <div class="col-sm-6 col-md-3 clearfix">
                        <div class="footer-wrapper ml-30">
                            <h3>Products</h3>

                            <ul class="wrapper-option">
                                <li><a href="#">Shared hosting</a></li>
                                <li><a href="#">WordPress hosting</a></li>
                                <li><a href="#">VPS Hosting</a></li>
                                <li><a href="#">Dedicated hosting</a></li>
                                <li><a href="#">Reseller Package</a></li>
                            </ul> <!-- wrapper-option -->
                        </div> <!-- footer-wrapper -->
                    </div>

                    <div class="col-sm-6 col-md-2">
                        <div class="footer-wrapper last-wrapper">
                            <h3>Support</h3>

                            <ul class="wrapper-option">
                                <li><a href="#">Chat</a></li>
                                <li><a href="#">Tickets</a></li>
                                <li><a href="#">Knowledge</a></li>
                                <li><a href="#">System status</a></li>
                            </ul> <!-- wrapper-option -->

                        </div> <!-- footer-wrapper -->
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="footer-wrapper last-wrapper ml-30">
                            <h3>Company</h3>

                            <ul class="wrapper-option">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul> <!-- wrapper-option -->
                        </div> <!-- footer-wrapper -->
                    </div>
                </div>
            </div>
        </div> <!-- footer-container -->

        <div class="copy-right">
            <div class="container">
                <p>2017 &copy; All Rights Reserved by Themexriver</p>

                <ul class="social-icon text-right">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul> <!-- social-icon -->
            </div>
        </div> <!-- copy-right -->
    </footer> <!-- footer-section -->


    <div class="support-box">
        <button id="open-box-two" class="btn btn-primary"><i class="fa fa-comments" aria-hidden="true"></i> Live Support</button>

        <div class="mail-box">
            <h4 class="close-box">Support <span class="pull-right"><i class="fa fa-minus" aria-hidden="true"></i></span></h4>

            <form class="chat-form form-horizontal">
                <div class="form-group">
                    <label for="inputName1">Introduce yourself</label>
                    <input type="text" class="form-control" id="inputName1" placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="chatSearchBar">Input your mail address</label>
                    <input class="chatSearchBar" value="your email address.." onblur="if(this.value=='')this.value='your email address..'" onfocus="if(this.value=='your email address..')this.value=''" id="chatSearchBar" name="email" type="email">
                </div>

                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" placeholder="Text" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="subscribeBtn btn-primary">Start chating</button>
                </div>
            </form>
        </div>
    </div> <!-- support-box -->



    <!-- Off-Canvas View Only -->
    <span class="menu-toggle navbar visible-xs visible-sm"><i class="fa fa-bars" aria-hidden="true"></i></span>

    <div id="offcanvas-menu" class="visible-xs visible-sm">

        <span class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></span>

        <ul class="menu-wrapper">
            <li>
                <a class="active dropmenu" href="#">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class="dropDown sub-menu">
                        <li><a href="index.html">Home 1</a></li>
                        <li><a href="index-two.html">Home 2</a></li>
                        <li><a class="active" href="index-three.html">Home 3</a></li>
                    </ul><!-- end of dropdown -->
            </li><!-- end of li -->


            <li>
                <a class="dropmenu" href="#"> Domain <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropDown sub-menu">
                    <li><a href="domain.html">Domain</a></li>
                    <li><a href="domain-management.html">Domain-Management</a></li>
              </ul><!-- end of dropdown -->
            </li><!-- end of li -->


            <li>
                <a class="dropmenu" href="#">Hosting <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropDown sub-menu">
                    <li><a href="hosting.html">Hosting</a></li>
                    <li><a href="cloud-hosting.html">Cloud-hosting</a></li>
                    <li><a href="dedicated-hosting.html">Dedicated-hosting</a></li>
                    <li><a href="shared-hosting.html">Shared-Hosting</a></li>
                    <li><a href="hosting-management.html">Hosting-Management</a></li>
                </ul><!-- end of dropdown -->
            </li><!-- end of li -->

            <li>
                <a class="dropmenu" href="#">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropDown sub-menu">
                    <li><a href="about.html">About</a></li>
                    <li><a href="account.html">Account</a></li>
                    <li><a href="affiliate.html">Affiliate</a></li>
                    <li><a href="data-center.html">Data Center</a></li>
                    <li><a href="support.html">Support</a></li>
                    <li><a href="testimonial.html">Testimonial</a></li>
                    <li><a href="404.html">404-Page</a></li>
                </ul><!-- end of dropdown -->
            </li><!-- end of li -->

            <li>
                <a class="dropmenu" href="#">News <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropDown sub-menu">
                    <li><a href="news.html">News</a></li>
                    <li><a href="news-single.html">News-Single</a></li>
                    <li><a href="news-sidebar.html">News-Sidebar</a></li>
                </ul><!-- end of dropdown -->
            </li><!-- end of li -->

            <li><a href="contact.html">Contact</a></li><!-- end of li -->
        </ul> <!-- menu-wrapper -->
    </div>
    <!-- Off-Canvas View Only -->

    <div id="toTop" class="hidden-xs">
        <i class="fa fa-chevron-up"></i>
    </div> <!-- totop -->

    <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.themepunch.tools.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.themepunch.revolution.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.inview.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wow.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'lightbox.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'owl.carousel.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'script.js', 'data-turbolinks-track': 'reload' %>
</body>
